
.main-display-header {
  background-color: darkslategray;
  color: gold;
  height: 80px;
  font-size: 48px;
  text-align: center;
  font-weight: 900;
}

.city-label {
  font-size: larger;
  font-weight: 500;
}

.apply-button {
  margin-top: 10px;
  background-color: darkslategray;
  color: gold;
  font-weight: 700;
  text-transform: uppercase;  
}

.apply-button:hover {
  background-color: darkslategray;
  color: goldenrod;
}

.wather-main-container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.weather-days-container {
  display: flex;
  flex-flow: row wrap;  
  gap: 20px;
  align-items: stretch;
  justify-content: space-between;
}

.weather-day-container {
  border-radius: 10px;
  width: 23%;
}

.weather-day-container .card-body {
  display: flex;
  flex-direction: column;
}

.weather-header {
  background-color: darkslategray;
  color: gold;
  text-align: center;
  font-weight: 700;
  font-size: larger;
}